{%extends 'base.html'%} {%block title%}Home Page{%endblock%} {%block style%}
<link rel="stylesheet" href="/static/home.css" />{%endblock%}{%block content%}
<div class="container">
  <h1>Our Pets</h1>
  <div class="list-div">
    {%for pet in pets%}

    <div class="each-pet-div">
      <img class="profile-pic" src="{{pet.image_url()}}" alt="pet-img" />
      <p><a href="/{{pet.id}}">{{pet.name}}</a></p>
      {% if pet.available %} <b> is available!</b> {%else%}
      <p>Not available</p>

      {% endif %}
    </div>
    {%endfor%}
  </div>
  <form action="/add">
    <button class="btn btn-info add-btn" type="submit">Add new pet</button>
  </form>
</div>
{%endblock%}
